.clear::after {
    content: "";
    display: table;
    clear: both;
}

.row:not(:last-child) {
    margin-bottom: 1.5rem;
}

.auth-form {
    margin-top: 10%;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
}

.main-content {
    margin-top: 2vh;
}

.one-of-all {
    background-color: #eaebed;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all .2s;
    position: relative;
}

.title-of-list-element {
    float: left;
}

.turn-on-section {
    float: right;
}

.indicator {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    border-radius: 20px;
    height: 10px;
    width: 10px;
}

.turn-on-section .green {
    background-color: green;
}

.turn-on-section .red {
    background-color: red;
}

.one-of-all:hover {
    background-color: #f4f4f4;
}

.form-check-input {
    cursor: pointer;
}